[Settings]
AutoCheckVersion=0
CheckAutoUpdate=0
RememberAudioVolume=1
Volume=80
Mute=0
KeepAspectRatio=1
RememberPlayedPosition=1
FastOpen=1
FileOpenMethod=1
ThreadPriority=3
Direct3D11Renderer=1
VideoRendererType=12
D3D11FlipMode=1
D3D11ColorSpace=2
DXVA2Decoder=1
DXVA2Mode=3
HEVC_DXVA2=1
AV1_DXVA2=1
VP9_DXVA2=1
H264_DXVA2=1

[FilterControl]
SourceSplitterBuffer=134217728
AsyncFileIO=1
PreBufferTimeMs=5000
KeyframeSeek=1
FastSeek=1
SeekTimeShort=5
SeekTimeMedium=30
SeekTimeLong=60
LAVSplitterBufferMB=128

[VideoProcess]
HDRToneMapping=1
HDRToSDRMethod=2
HDRTargetNits=200
HDRColorSaturation=1.08
ColorSpaceMatrix=4
DeinterlaceMethod=0
SuperResolution=0

[Skin]
SkinName=ModernDarkMinimal.dsf
UseD3D11OSD=1
HideTitleBar=1
AutoHideControlPanel=1
HideCursorTimeoutSec=1.5
OSDTheme=NetflixDark
OSDAlpha=204
OSDFontName=Segoe UI Variable
OSDFontSize=14

[Hotkeys]
GlobalHotkeyCount=6
GlobalKey0=Ctrl+Alt+Space,CMD_PLAY_PAUSE
GlobalKey1=Ctrl+Alt+Left,CMD_JUMP_BACKWARD_5
GlobalKey2=Ctrl+Alt+Right,CMD_JUMP_FORWARD_5
GlobalKey3=Ctrl+Shift+Alt+W,CMD_SCROBBLE_MARK_WATCHED
GlobalKey4=Alt+S,CMD_CYCLE_SUBTITLES
GlobalKey5=Alt+A,CMD_CYCLE_AUDIO_TRACKS
